{% extends "base.html" %}

{% block content%}

	<div style="padding:50px; border:solid" align="left">	
		<form action="" method="post">
			{{ form.csrf_token }}
            <p>
                {{ form.title.label }}<br>
                {{ form.title(size=100,value=topic.title)}}
            </p>
            <p>
                {{ form.body.label }}<br>
                {{ form.body(size=100,value=topic.body)}}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
	</div>
{% endblock %}
