{% extends "base.html" %}

{% block content%}

	<div style="padding:50px; border:solid" align="left">
		<h1>{{ topic.title }}</h1>
		<div><p>{{ topic.body }}</p></div>
        {% if current_user.id == topic.user_id %}
            <p><a class="active" href="{{ url_for('editTopic',id=topic.id )}}">Edit Topic</a></p>
        {% endif %}
		
		<form action="" method="post">
			{{ form.csrf_token }}
			<p>
                {{ form.comment.label }}<br>
                {{ form.comment(size=100)}}
            </p>
			<!-- <label for="comment"> Post a comment:</label> -->
			<!-- <textarea id="comment" name="user_comment"></textarea><br> -->
			<p>{{ form.submit() }}</p>
		</form>
		{% for comment in comments %}
            <p>USERNAME: {{ comment.author.username }}  COMMENT: {{ comment.body }}</p>
            {% if current_user.id == comment.user_id %}
                <p><a class="active" href="{{ url_for('editComment',id=comment.id )}}">Edit Comment</a></p>
            {% endif %}
        {% endfor %}
	</div>
{% endblock %}
<!-- <a class="active" href="{{ url_for('editComment',id=comment.id )}}"> -->